.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px #3a3a3a;
    width: 40%;
    height: 30em;
    justify-content: center;
    background-color:#9cb6b9 ;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 95vw;
    height: 70vh;
}

@media only screen and (max-width: 430px) {
    .box{
        width: 90vw;
    }   
    .container{
        
        align-items: center;
        justify-content: center;
    }
}