.container{
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.Addnew{
    display: flex;
    justify-content: end;
    width: 100%;
}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.cards > div{
    height: 11em;
}

