.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px #3a3a3a;
    width: 25em;
    height: 30em;
    justify-content: center;
    background-color:#818181 ;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 70vh;
}

