.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    height: 27em;
    width: 23em;
    background-color:#818181 ;
    box-shadow: 5px 5px #3a3a3a;
}

.title{
    margin-bottom: 1em;
    color: #313131;
}

