.btn{
    background-color: #fff;
    color: #000;
    width: 10em;
    height: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  
}

.btn:hover{
    background-color: #3a3a3a;
    color: #fff;
}