.container{
    width: 100%;
    margin-top: 1em;
    min-height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #528399;
    color: #d6d6d6;
    flex-direction: column;
    position: absolute;
}

.redesSociais{
    margin-top: .5em;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}
