.container{
    width: 60%;
    height: 10em;
    color: #eeeeee;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;  
    position: absolute;
    margin-top: 7em;
}
