.container{
    width: 70%;
    color: #eeeeee;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;  
    position: absolute;
    margin-top: 7em;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}