.container {
    width: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    margin-top: -1em;
}

.success {
    background-color: #519e51;
}

.error {
    background-color: #9e4646;
}

.msg {
    width: 30%;
    min-height: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}