.container {
    background-color: #528399;
    margin: auto;
    height: 10em;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
    
}

.title {
    font-size: 3em;
    font-family: 'Cinzel', serif;

}

.links {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    position: relative;
}

.links li {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    height: 2em;
    align-items: center;
    border-radius: 5px;
}

a {
    display: flex;
    text-decoration: none;
    color: #eeeeee;
}

.links li:hover {
    background-color: #9cb6b9;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: -3em;
    display: none;
    
}

#menu{
    display: none;
    
}
#closeMenu{
    display: none;
}

.Comp{
    display: flex;
    flex-wrap: wrap;
}


.redesSociais{
    margin-top: .5em;
    justify-content: end;
    align-items: center;
    width: 90%;
    display: flex;  
}


@media only screen and (max-width: 430px) {
    .links {
        width: 10em;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .links li {  
        background-color: #006494;
        cursor: pointer;
        border-radius: 0px;
        font-size: 14px;
        margin: 0.1em;
        width: 5em;
    }

    #menu{
        display: flex;
        align-items: flex-start;
        width: 11em;
    }

    .menu{
        display: flex;
    }

    .Comp{
        display: none;
    }
}